/* make the customizations */
$primary: #ffffff;
$secondary: #14246d;
$background: #efefef;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "background": $background

);

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";